<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Author</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
Edit Author
<div class="panel panel-default">
    <div class="panel-body">
        <form method="post" action="updateAuthor">

            <p contenteditable="false" id="id" name="id" th:text="${autor.id}"></p>
            <p contenteditable="true" id="firstName" name="firstName" th:text="${autor.firstName}"></p>
            <p contenteditable="true" id="lastName" name="lastName" th:text="${autor.lastName}"></p>
            <p contenteditable="true" id="birthday" name="birthday" th:text="${autor.birthday}"></p>
            <td><input type="submit" value="Save" /></td>
            <!--<a class="btn btn-primary" th:href="@{/admin/updateAuthors}" role="button">Update authors</a>-->
        </form>

    </div>
</div>

</body>
</html>