<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Admin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<body>
		<div class="container">

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/hello">Biblioteca</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="/hello">Home</a></li>
						<li><a href="http://localhost:8080/admin/addAuthor">Adauga autor</a></li>
						<li><a href="http://localhost:8080/admin/addBook">Adauga carte</a></li>
						<li><a class=" btn-block" th:href="@{/admin/authors}">Autori si carti</a></li>
						<li><a class=" btn-block" th:href="@{/admin/showImprumuturi}">Imprumuturi</a></li>
						<li><a class=" btn-block" th:href="@{/logout}">Logout</a></li>
					</ul>
				</div>
			</nav>

			Admin page

		</div>
	</body>
</html>