<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin - Authors</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel panel-default">
    <div class="panel-body">
        Panel Content

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/hello">Biblioteca</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/hello">Home</a></li>
                    <li><a href="/#">Adauga autor</a></li>
                    <li><a href="/#">Adauga poezie</a></li>
                    <li><a href="/admin/authors">Autori si carti</a></li>
                    <li><a class="btn btn-primary" th:href="@{/admin/showImprumuturi}">Imprumuturi</a></li>
                </ul>
            </div>
        </nav>



        <ul class="list-group">
            <tr th:each="message : ${autori}">
                <li class="list-group-item">
                    <td th:text="${message.id}"></td>
                    <td th:text="${message.firstName}"></td>
                    <td th:text="${message.lastName}"></td>
                    <td th:text="${message.birthday}"></td>

                    <a class="btn btn-primary" th:href="@{/admin/showBooks(id=${message.id})}" role="button">Carti</a>
                    <a class="btn btn-primary" href="" role="button">Editeaza</a>
                    <a class="btn btn-primary" th:href="@{/admin/stergeAuthor(id=${message.id})}" role="button">Sterge</a>
                </li>
            </tr>
        </ul>



    </div>

</div>
</body>
</html>