
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User - Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="panel panel-default">
    <div class="panel-body">

        <ul class="list-group">
            <tr th:each="book : ${bookAuthors}">
                <li class="list-group-item">
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.isbn}"></td>
                    <a class="btn btn-primary" th:href="@{/user/imprumutaCarte(id=${book.id})}" role="button">Imprumuta</a>
                </li>
            </tr>
        </ul>


    </div>
</div>
</body>
</html>



