
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User - Authors</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="panel panel-default">
    <div class="panel-body">

        Imprumuturi

        <ul class="list-group">
            <tr th:each="messages : ${imprumuturi}">
                <li class="list-group-item">
                    <td th:text="${messages.id}"></td>
                    <td th:text="${messages.idUser}"></td>
                    <td th:text="${messages.approved}"></td>
                    <td th:text="${messages.idBook}"></td>
                </li>
            </tr>
        </ul>


    </div>


</div>
</body>
</html>



